[2017-08-15 18:28] natebird opened #1 "Drop Rails 4 support?"
I'm wondering if we really need to support older versions of Ruby and older versions of Rails? Since this is a fork of the old gem there may be some advantages to cleaning up and supporting just the newer versions. Thoughts?

[2017-08-16 14:59] olbrich commented on #1
A reasonable policy might be to maintain support for all ruby versions that are officially supported (>= 2.2.7) and Rails ( >= 4.2).  It often takes a while for people to update applications and it would be unfortunate if they could not update and get security fixes because they aren't running the latest and greatest.

[2017-08-16 18:17] oniofchaos commented on #1
One way I've seen that could work is using major versions to indicate support levels. For example, version 8.x is for Rails 4 and 9.x is for Rails 5, with security updates but not new features making it to 8.x.

[2017-10-06 19:12] olbrich opened #2 "publish this as a gem"
Why not publish this as an actual gem on rubygems.org?

[2017-10-06 19:36] oniofchaos commented on #2
Will look into this next week

[2017-10-13 23:56] oniofchaos commented on #2
https://rubygems.org/gems/devise-security

[2017-10-13 23:56] #2 closed

[2017-10-20 18:23] #1 closed

[2017-11-25 19:28] Firebeam opened #8 "Could not find generator 'devise_security:install' on Windows 10"
Hello. I get this error right after running `bundle install` (I'm not sure if having to work around an issue with bcrypt on Windows has to do with this). The thing is, I can't run the generator right after installing the gem:

`#>rails generate devise_security:install
Could not find generator 'devise_security:install'. Maybe you meant 'devise_security:install', 'devise:install' or 'responders:inst

[2017-11-26 12:05] Firebeam commented on #8
Problem is fixed in the latest gem from master. Should I close this?

[2017-11-26 12:07] natebird commented on #8
Yes. I’ll close it.

[2017-11-26 12:07] #8 closed

[2017-12-02 16:15] Firebeam opened #10 ":secure_validatable breaks when allowing users to sign in using their username or email address"
This issue, to the extent of my knowledge, carried over to devise-security.
A workaround for this is creating a `def login_changed? false end` method in the model. https://github.com/phatworx/devise_security_extension/issues/54

[2017-12-02 16:35] natebird commented on #10
I haven't looked into this issue much other than the linked thread but is there a proposed fix for this issue? If so, please make a PR and we will gladly review and accept it.

[2017-12-15 20:19] oniofchaos opened #12 "Fix flapping spec"
https://travis-ci.org/devise-security/devise-security/jobs/311606289
https://github.com/devise-security/devise-security/pull/11#issuecomment-350373309

[2017-12-15 20:38] oniofchaos opened #13 "Add Coveralls test coverage to README + PR process"
Right now we capture this data but don't actually do anything with it.

[2017-12-15 21:09] #12 closed

[2018-01-11 18:58] andyklimczak opened #15 "[Code Question] Deciding if new password is in old password archive"
Hey, quick question about the code here in [password_archivable.rb#L30](https://github.com/devise-security/devise-security/blob/master/lib/devise-security/models/password_archivable.rb#L30)

We're looping through the old passwords in the archive, creating a `dummy` resource and setting the encrypted password to each old password, then trying to login with the `new` password. If a login succeeds (`

[2018-01-11 19:02] oniofchaos commented on #15
Hey @andyklimczak, we're a fork of an older project so unfortunately we don't have a deep understanding of the code decisions that were made like this one. If you feel like you can refactor this to be more performant by all means make a PR - just be sure to include benchmarking to demonstrate the improvement.

[2018-01-11 19:12] andyklimczak commented on #15
Totally understand, and perhaps I will!

I was interested to see if anyone had any insight is all

[2018-01-14 00:11] andyklimczak commented on #15
So now I understand a bit more, devise doesn't just 'hash' a plain text password into the same hash everytime. So you need to consider each hashed password when deciding if the plain text password matches. So looping through each hashed password is necessary, I believe.

Thanks !

[2018-01-14 00:11] #15 closed

[2018-01-24 14:04] maurosbu opened #17 "Could not find generator 'devise_security:install'"
Hi,
I'm working on a Rails 5.1 app and I'm trying to configure the devise_security gem, but I have a problem with the generator.

    $ bin/rails g devise_security:install
    Could not find generator 'devise_security:install'. Maybe you meant 'devise_security:install', 'devise:install' or 'draper:install'
    Run `rails generate --help` for more options.

This is what I added to the Gemfile

[2018-01-24 15:23] maurosbu commented on #17
Duplicated of https://github.com/devise-security/devise-security/issues/8
Is it possible to release a new version of the gem?

[2018-01-25 10:19] maurosbu opened #18 "Can valid_email be a replacement for rails_email_validator?"
The module **secure_validatable** suggests using the [rails_email_validator](https://rubygems.org/gems/rails_email_validator) gem which seems to be unmaintained (last commit dates back to Jun 16, 2011). Is the gem [valid_email](https://rubygems.org/gems/valid_email) a valid replacement?

Many thanks,
Mauro

[2018-01-30 01:44] oniofchaos commented on #18
Honestly the code here is a bit confusing and Rails magic-y but on initial read it looks like yes. They both just require `email: true` in the model. Are you trying to actively use this?

[2018-01-30 01:52] oniofchaos commented on #17
https://github.com/devise-security/devise-security/releases/tag/v0.11.1 is now live on Rubygems

[2018-01-30 01:52] #17 closed

[2018-01-30 02:32] natebird commented on #17
@oniofchaos Thanks for releasing. I was working on this today too. :-) I'm working on integrating with CircleCI, Rubocop, and Coveralls to get the codebase a little better structured.

[2018-01-30 03:54] oniofchaos commented on #17
Sweeeeeeet

[2018-02-07 10:23] samuelvaneck opened #22 "RSpec deprecation warning message"
When running RSpec tests with the latest version I'm getting deprecation warning messages:

I'm using the following version
- rails: 5.1.4
- devise: 4.3.0
- devise-security: 0.11.1
- rspec: 3.7.0

[2018-02-07 15:09] natebird commented on #22
This was introduced in Rails 5.1 and will stop working (from what I can tell) in Rails 6.0. Since we currently support Rails 4.1.x and above the solution will need to support previous versions where the new methods don't exist.

If you have a pull request I'd be glad to review it.

[2018-02-07 20:44] samuelvaneck commented on #22
I’ll give it a try. :)

[2018-02-15 14:30] natebird commented on #18
I agree. I haven't tried to replace the gem yet but it is convoluted. @maurosbu if you create a PR for this I'd be glad to review it. If not, I'll add it to the list. :-)

[2018-03-07 21:01] micapam opened #24 "password_regex and ReDoS attacks"
First of all, thanks for forking the original repo and keeping the functionality alive!

I'm using devise-security in an app I'm working on. A problem I found is that the `password_regex` setting wasn't usable for my requirements (ensuring passwords include characters from certain classes: e.g. uppercase letter, lowercase letter, a number and a symbol). Whatever regex I tried to accomplish this, I

[2018-03-08 13:30] natebird commented on #24
I'd be happy to review a PR of this feature. Thanks for looking into this.

[2018-03-18 02:14] mileslane commented on #22
We are seeing this as well. It makes our tests very noisy, so a fix would be much appreciated.

[2018-03-20 19:02] oniofchaos commented on #13
@natebird looks like you did this?

[2018-03-20 19:14] natebird commented on #13
@oniofchaos I added it to the PR process. I still need to add it to the readme. I'll add it to the cleanup PR.

[2018-03-21 20:24] #22 closed

[2018-03-22 17:04] olbrich opened #29 "Add CodeClimate support"
Codeclimate does a series of checks for code quality.  It would be nice to add code climate support so we can continue to improve the quality of this project.

[2018-03-22 17:08] natebird commented on #29
I've used CodeClimate. I think that is a good addition to the project.

[2018-03-22 17:30] natebird commented on #29
I'm creating a PR for CodeClimate. Here are the results if you want to browse: https://codeclimate.com/github/devise-security/devise-security

[2018-03-22 18:25] #13 closed

[2018-03-22 18:25] #29 closed

[2018-03-23 09:59] samuelvaneck commented on #22
:+1:

[2018-04-15 21:54] wonderphil opened #33 "Use of better captcha"
Hi guys,

Just wondering is there any way to user a newer, more maintained captcha with this?

Thanks

Phil

[2018-04-16 01:52] olbrich commented on #33
We can look into updating it.  I don't personally use the captcha, so if you have any suggestions for 'more maintained' captchas, that would be helpful.

[2018-04-16 17:06] oniofchaos commented on #33
PRs with an updated captcha are welcome 😄 🏆

[2018-04-16 17:14] oniofchaos commented on #18
Closing old issues, if you have more info to contribute please feel free to re-open.

[2018-04-16 17:14] #18 closed

[2018-04-17 00:04] blackrhinoconsulting commented on #33
I have this on my radar. Not sure when I will get to it but if nobody does before I do it'll get done in the next month or two...

[2018-04-17 00:30] olbrich opened #35 "Missing Documentation from wiki"
There were one or two pages in the original repository's wiki that cover things like the 'Paranoid Verifiable' plugin.  We should copy those over here too.

[2018-04-17 13:20] natebird opened #36 "Support Mongoid"
Is it worth supporting Mongoid? Devise supports it.

[2018-04-17 15:49] oniofchaos commented on #36
I personally don't think so. At best, it would be in a separate gem.

[2018-04-17 16:11] olbrich commented on #36
I don't have a sense of how much people even use mongoid.  I might be willing to investigate it if a lot of users expressed an interest.

[2018-04-19 08:28] richardrails opened #37 "Password expirable does not redirect"
Hi I set password limit to 1 minute.

[code]

user model:
[code]
I have migrations done. I set new password, Devise correctly change ```password_changed_at``` column. But after 5 minutes I log in and no redirect happen. I have also own session controller. Could it be the problem inside it?

[code]

It does not work even if I put ```include DeviseSecurity::Controllers::Helpers``` inside this contro

[2018-04-19 08:49] richardrails commented on #37
[code]
returns true. but ``` warden.session(scope)['password_expired']``` returns nil inside ```handle_password_change``` method

[2018-04-19 23:40] oniofchaos commented on #37
I think that `valid_password?` is defined in `Devise` proper and so won't be impacted by the modules in this gem (though I could be wrong).

Could you edit the line ` if self.resource.present? && self.resource.valid_password?(params[:user][:password])` to have the `need_change_password?` check?

[2018-04-23 07:57] crivotz commented on #33
It might be useful to rely on [Google recaptcha](https://www.google.com/recaptcha/intro/android.html)

[2018-04-30 04:29] #24 closed

[2018-05-16 10:33] scicco opened #39 "undefined method `migrate' for ActiveRecord::Migrator:Class (NoMethodError)"
stacktrace is:

`devise-security/test/test_helper.rb:16:in <top (required)>': undefined method 'migrate' for ActiveRecord::Migrator:Class (NoMethodError)
	from /Users/guidoscicolone/prj/devise-security/test/test_captcha_controller.rb:3:in 'require'
	from /Users/guidoscicolone/prj/devise-security/test/test_captcha_controller.rb:3:in '<top (required)>'
	from /Users/guidoscicolone/.rvm/gems/ruby-2.2.

[2018-05-21 15:02] olbrich opened #41 "Add support for ruby 2.5.1, drop 2.5.0"
Ruby 2.5.0 seems to cause problems installing bundler on Travis, so drop it in favor of ruby 2.5.1

[2018-05-21 15:44] #41 closed

[2018-05-21 16:11] #39 closed

[2018-05-22 07:43] scicco commented on #36
+1
We are currently using Mongoid with devise and adding devise-security features into our application will help us a lot to be compliant with GDPR requirements.

[2018-06-21 10:35] brunoporto commented on #36
https://github.com/devise-security/devise-security/pull/43

[2018-06-21 20:20] SauloSilva opened #44 "Fix Deprecation warning -- Support Rails >= 5"
DEPRECATION WARNING: The behavior of `attribute_changed?` inside of after callbacks will be changing in the next version of Rails. The new return value will reflect the behavior of calling the method after `save` returned (e.g. the opposite of what it returns now). To maintain the current behavior, use `saved_change_to_attribute?` instead.

This warning is [here](https://github.com/devise-security

[2018-06-21 21:48] olbrich commented on #44
@SauloSilva How did you get that deprecation warning?  There is only a `before_save` callback in that code, not the `after_save` callback the message describes.

[2018-08-06 17:58] rylanb commented on #33
Would love to see use of Google's Recaptcha here.

[2018-08-30 01:52] rylanb opened #48 "Email validation seems to fail for valid emails"
Hello!
 Thanks for writing this and actively maintaining it.

This gem you recommend is > 7 years old since the last commit [rails_email_validator](https://github.com/phatworx/rails_email_validator)

When we added this gem emails that are absolutely valid are getting rejected (things like employee-2@groupemployer.com or rylan+2@gmail.com). I haven't looked further into why, but I just turned off e

[2018-09-04 04:38] oehlschl opened #49 "password_archivable does not include password used on create"
I don't know whether this expected, but it caught me off guard: passwords entered when a user is created are never archived and therefore will not be surfaced in the list of N recently used passwords as part of PasswordArchivable.

Came across this while writing tests as part of integrating this gem. Since most users should have a password on creation, this seems like a common case.

I'm guessing

[2018-09-28 17:59] garyfoster opened #50 "Process to Reset User Locked Out Due to Inactivity"
What is the process to unlock a user? Each time this has happened, I notice that the expired_at field in the db for the affected user is nil. I would assume that would have a date/time that I need to clear out to unlock so not sure why it's nil. If I set the last_activity_at to a recent date, that allows the user to sign in, but something doesn't seem right with this. It's easily worked around but

[2018-09-28 22:50] olbrich commented on #50
IIRC, the lockout due to inactivity is driven by the `last_activity_at` attribute.  Setting the time to now will clear the lock.

[2018-09-29 11:30] garyfoster commented on #50
Ok thanks, that is what I've been doing. I was confused as to the purpose of expired_at since it did not have a value for the users that were expired. Looking at the code I'm seeing comments that it can be used for manually setting and is not automatically set. Seems strange, but not entirely unreasonable. Closing this issue..

[2018-09-29 11:30] #50 closed

[2018-10-11 05:02] oniofchaos opened #51 "Add automated dependency updating bot"
https://github.com/marketplace/dependabot

[2018-10-13 15:12] oniofchaos commented on #51
Done!

[2018-10-13 15:12] #51 closed

[2018-10-13 17:56] #44 closed

[2018-10-15 18:41] #48 closed

[2018-10-20 14:48] jantequera opened #59 "Deprecation warnings about the behavior of `attribute_changed?`"
Hello, thanks for retaking the work on this gem :)

I'm on Rails 5.1.6, Ruby 2.5.1. When adding `:password_expirable` to a model, I'm seeing this warning on my specs:

[code]

I see you have a branch in which this is fixed https://github.com/devise-security/devise-security/commit/86f9573e6e4383fa8db64bd957f2153c5ea6b595

But CircleCI and Travis didn't seem to like it, and the branch has gone stale

[2018-10-22 16:44] oniofchaos commented on #59
Looks like that was @natebird working on that

[2018-10-22 18:05] dependabot[bot] opened #60 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-10-22 21:12] oniofchaos commented on #60
@dependabot not sure what's going on here, `devise-security.gemspec` is locked to '~> 0.59.2`, `Gemfile.lock` has `0.59.2`, and when I run `bundle update rubocop` the command completes successfully. How do I resolve this error?

[2018-10-22 21:42] greysteil commented on #60
This is going to be due to Dependabot's gemspec sanitization, I think. Let me take a look.

[2018-10-22 22:19] greysteil commented on #60
Fixed in https://github.com/dependabot/dependabot-core/commit/7b2b476fa712fd8e04a4840c0532051836861edf. I'll re-run Dependabot on this repo once that's deployed, which should close this issue.

[2018-10-22 22:30] #60 closed

[2018-10-23 11:43] olbrich commented on #59
@jantequera which version of the gem are you using?  I think we refactored password_expirable in #45 which should fix this issue.

[2018-10-23 12:02] jantequera commented on #59
Hey @olbrich thanks for reaching out.

i installed the gem by putting this on my gemfile:

`gem 'devise-security',              '~> 0.13'`

`Gemfile.lock` says it's version `0.13.0`, according to rubygems is your latest and greatest :)

[2018-10-26 01:44] timsatterfield opened #62 "How to make config dynamic"
Wondering how to best make the config attributes dynamic per instance of a model.

Example: for a given Model which belongs to a specific Organization might have different password validation requirements or password expiry length.

Overriding password_complexity, password_length or other methods in the Model doesn't seem to do anything. Any help here?

[2018-10-26 01:51] olbrich commented on #62
Can you give me a made up code example of what you would like to be able to do?

[2018-10-26 01:52] olbrich commented on #59
Please re-open this issue if this problem re-occurs.

[2018-10-26 02:37] timsatterfield commented on #62
[code]

[2018-10-26 20:52] olbrich commented on #62
On the surface this seems like it could work, but I suspect what is happening is that those methods are being evaluated at the time the class is loaded and never again after that.  I'll dig into it some more and see if we can verify this and modify this so that it can be a proc or something.

[2018-11-03 16:00] wonderphil opened #64 "ERROR -- : Unknown validator: 'EmailValidator' (ArgumentError)"
Hi guys,

Building new app and I just added this module and configured it, when running my app I get the following

[code]

for full stack see [log Gist](https://gist.github.com/wonderphil/224cbc9cb4201f743f66bf3f21cfae45)

my model looks like:

[code]

devise.rb:
[code]

devise-security.rb:
[code]

I am sure I am just missing something simple but any help would be great.

Thanks in advance

Phil

[2018-11-04 12:43] olbrich commented on #64
The default for `email_validation` is true, you have it commented out and are using your own replacement, but the code is trying to do both now.  Set the `config.email_validation` to `false`.  Also, you may want to consider making your email field unique.

[2018-11-04 19:50] garyfoster opened #65 "secure_validatable not working in Rails 5.2?"
Anyone else notice this? Something funky is going on, I can't run rake tasks for example like db:create, I get an error on the devise line in the User model indicating that no db exists. If I remove `secure_validable` the error goes away. I can't yet tell if it's an issue with Rails 5.2 or an interaction with an other gem but thought I'd report it here in case someone else has run into it. I can p

[2018-11-05 11:58] olbrich commented on #65
@garyfoster did you sort out your issue or is there something we need to be looking into?

[2018-11-05 12:00] garyfoster commented on #65
I didn't, but if I temporarily remove secure_validatable, run rake db:create then add it back, it gets around the issue. I was going to spend some more time trying to isolate where the exception is originating and add a new issue with better details. I'll reopen this for now just in case someone else needs to refer to it.

[2018-11-05 12:31] garyfoster commented on #65
Ok, I haven't dug into this yet, but for starters, can you reproduce it? On a Rails 5.2 project with devise-security and the secure_validatable option in the devise line in User.rb.. Try to `rake db:drop` then `rake db:create` and do you get an error? If not, I can try to send you a minimal rails app that repro's.

[2018-11-05 12:32] olbrich commented on #65
@garyfoster FYI, `secure_validateable` currently requires the use of `database_authenticatable`.  However the currently released code doesn't actually enforce that, so if you haven't done the database migrations required by that one, this could be the source of trouble.  Do you plan to use `database_authenticatable`?  I'll try to dig into a reproduction case, but it may take some time.

[2018-11-05 12:38] garyfoster commented on #65
Yes, we use `database_authenticatable` on all our projects. 3 of our projects use devise-security, all of which have this same issue. It does have a fairly simple workaround but might be good to figure it out one day. I'll report back if we come up with anything. I don't think it's a migration issue. Something that happens in the environment is requiring that the db exists. When running `rake db:c

[2018-11-05 14:33] mvz opened #66 "Please support Ruby 2.3 below 2.3.7"
The gemspec for devise-security specifies it needs Ruby 2.3.7 or higher, but it seems this is just to exclude 2.2. Please consider changing the requirements to `>= 2.3.0` so devise-security can be installed with older 2.3.x versions.

[2018-11-06 20:36] mvz commented on #66
Thanks, @olbrich!

[2018-11-22 15:11] jantequera commented on #59
So, I found out what was happening, wanted to leave the explanation here for reference in case someone finds this:

My model had this:

[code]

Using this in my `application.rb` file helped to have the full trace of the warning:

[code]
After reading the trace resulting of running the spec file of the model, came to this conclusion:

[code]

So althought being done in an `before_save` hook, the fa

[2018-11-23 14:18] olbrich commented on #59
@jantequera Thanks for the details follow up.  I'll see if we can make some changes to address this now that we understand it.

[2019-01-23 13:30] Joel-Mercier opened #72 "Wrong dependency version for Devise"
It's stated in the gemspec that this gem is for Devise >= 4.2.0 however you use the Devise module method `activerecord51?` which is only available in Devise 4.3.0

[2019-02-13 03:25] DBDeveloper87 commented on #36
I am beginning my app development on Active Record ORM, but am also learning how to work with MongoDB at the same time.  I do not yet understand MongoDB enough to use it properly, however its capabilities are in line with plans for future development of my application, so I plan to switch ORMs then.
For now, I'll use Devise-Security; however, when I make the switch to mongoID if this gem doesn't y

[2019-02-13 09:37] scicco commented on #36
Please take a look at #76 . If someone can review my work and help fixing the failing test.

[2019-02-13 19:07] DBDeveloper87 opened #77 "Secure Valuable crashes the app"
Hmm.  I am on Rails 5.2.2 and I just installed the devise-security gem.  I'm unsure if I configured it right, but when I try to run Rails with :secure_validatable turned on, Rails returns an error:

Unknown validator: 'EmailValidator'

In your Readme, I decided to go with the email_address gem so I installed that one, but I'm a little confused on how I'm supposed to configure it.

I know you have

[2019-02-21 14:30] mattgrande opened #82 "password_archivable - Possible to use time frame rather than number?"
I have a requirement that passwords cannot be reused if they have been used in the last year. From what I can tell, `password_archivable` only allows you to check against the previous _count_ of passwords.

1. Is this correct?
2. Does `devise-security` have the feature I'm looking for?
3. If not, would you be open to a PR if I end up needing to implement it?

[2019-02-21 14:42] natebird commented on #82
As a workaround, you could use a combination of the number of passwords and the length of time before a password is expired to get to a year.

Example: Passwords expire after 90 days and you can't reuse the last 4 passwords. That would put you over a year.

[2019-02-21 14:51] mattgrande commented on #82
Yep, that's probably what I'm going to do.

[2019-02-22 19:55] #36 closed

[2019-02-22 22:35] #72 closed

[2019-02-24 03:51] oniofchaos commented on #37
Closing due to inactivity. If this is still an issue, feel free to comment back and it can be re-opened.

[2019-02-24 03:51] #37 closed

[2019-02-25 13:11] thatguysimon opened #86 "Error when calling #as_json on user (with new Mongoid support)"
Hi!
I'm having an issue using the newly introduced support for Mongoid (huge thanks for that btw!).
I've enabled the `password_archivable` module.
When I call `#as_json` on a user, I get the following error:
[code]

Making the following change fixes the issue:
https://github.com/Twistbioscience/devise-security/commit/624123fd669adc8e6356a1979173e4667e277179

For some reason making the specific ORM

[2019-03-02 12:50] olbrich commented on #86
@thatguysimon can you put together a minimal rails app that exhibits this problem?  I can't reproduce it.

[2019-03-04 16:24] scicco commented on #86
hello @thatguysimon, have you tried prefixing https://github.com/devise-security/devise-security/blob/7eddc2ed7d45bcfcbd1f891e2aaee335d8ba7e3d/lib/devise-security/models/compatibility.rb#L12

with :: like this:
[code]

and check if your error still happens?

[2019-03-05 12:30] thatguysimon commented on #86
@olbrich If you couldn't reproduce it then probably it's something specific to our codebase. I think it's better if I try to strip down components and move things around until it works. Any idea where to start? I can't figure out why `include_root_in_json` is being searched inside `Devise::Models::Compatibility::Mongoid` as opposed to some other non-existent method which is being searched in `User

[2019-03-11 21:03] seanmsmith23 opened #90 "Error when config.eager_load = true"
Ruby 2.4.5 and Rails 5.0.

Getting `in skip_callback': Before process_action callback :handle_password_change has not been defined (ArgumentError)` when trying to start my server. It seems like that method is being lazy loaded, but with Rails 5 it errors if the method has not yet been defined [as per this thread](https://github.com/lynndylanhurley/devise_token_auth/issues/500).

It doesn't seem li

[2019-03-11 21:06] seanmsmith23 commented on #90
Just to flesh this out a bit more. Here's the line within the gem that creates the error: https://github.com/devise-security/devise-security/blob/master/app/controllers/devise/password_expired_controller.rb#L4

Here's where that method is defined: https://github.com/devise-security/devise-security/blob/5f06e98907aa93a2ebd190a82725b261bdf7f091/lib/devise-security/controllers/helpers.rb#L46

Here is

[2019-03-11 21:10] oniofchaos commented on #90
Are you able to reproduce this with a dummy app?

[2019-03-12 09:45] longkt90 commented on #90
From rails 5,  `skip_before_action :handle_password_change` would raise ArgumentError it it's not defined. we can change to `skip_before_action :handle_password_change, raise: false`

reference: https://github.com/rails/rails/pull/19029

[2019-03-12 14:03] th-ad opened #91 "Further Customization of Error Messages"
I'm working on creating a few custom error messages for a password flow and I noticed that certain error messages only allow for partial customization. What I want to be able to do is to write a flash message without the word `Password` as the first word in the flash message.

For example, on line 70 of the `secure_validatable` model, if a user tries to use the same password they have previously u

[2019-03-12 14:42] oniofchaos commented on #91
We're open to a PR that allows further customization as long as existing behavior continues to be the default behavior.

[2019-03-15 07:35] francois-belle commented on #77
Same here, I'm having a hard time understanding [this part of the documentation](https://github.com/devise-security/devise-security#e-mail-validation).
I'm trying to use the Ruby constant validation (without installing a gem) so I did:

_models/user.rb_
[code]

_config/devise-security.rb_
[code]

I think I'm missing something simple about the `config.email_validation = true` part.
I based my code

[2019-03-15 15:59] oniofchaos commented on #77
Another way would be something like `validates :email, format: { with: URI::MailTo::EMAIL_REGEXP, message: "only allows valid emails" }
`

[2019-03-21 10:51] balajig2 commented on #37
Is this issue resolved?

I get similar issue using Rails 5.2, where current_user.need_change_password? returns true but warden.session(scope)['password_expired'] returns false inside handle_password_change method

[2019-04-04 13:53] ubswrk opened #93 "db:mongoid:create_indexes fails with 'The field 'name' must be a string, but got symbol'"
OldPassword model line 16:
index({ password_archivable_type: 1, password_archivable_id: 1 }, name: 'index_password_archivable')

index name should be string and not symbol

[2019-04-13 13:35] #93 closed

[2019-04-13 13:38] olbrich commented on #86
Closing because we haven't been able to reproduce this.  Please reopen if an appropriate reproduction case is found.

[2019-04-13 13:38] #86 closed

[2019-04-13 13:51] olbrich opened #95 "Drop support for ruby 2.3 since it is EOL"
Since Ruby 2.3 is end-of-life and no longer supported we will be dropping formal support for it as well.

What this means:
1. All new development will be done with ruby 2.4.* (as defined in the .ruby-version file)
2. Ruby 2.3 will be moved to the 'allowed failures' part of the travis configs.  This will provide visibility into backwardly incompatible changes.
3. Setting rubocop target version to r

[2019-04-15 19:53] #95 closed

[2019-04-17 17:30] Sh1ken opened #99 "Getting "uninitialized constant DEVISE_ORM" during install"
Hey,

While trying to install this gem I'm getting the following error message during `rails generate devise_security:install` using devise-security 0.14.0:

 `.../lib/devise-security.rb:3:in <top (required)>: uninitialized constant DEVISE_ORM (NameError)`

Currently I'm using devise 4.6.1, rails 5.2.2.1 and activerecord 5.2.2.1. I've been using Devise without any problem and, as far as I know, Ac

[2019-04-18 14:19] olbrich commented on #99
@Sh1ken
This does look like a bug, sorry.

This workaround may help... try defining `DEVISE_ORM=:active_record` in `application.rb` near the top (before the `Bundler.require`).

[2019-04-18 14:41] Sh1ken commented on #99
That did the trick! Thanks!

[2019-04-18 14:42] Sh1ken commented on #99
@olbrich That did the trick! Thanks.

[2019-04-18 14:52] olbrich commented on #99
@Sh1ken Can you try the branch for #100 and see if that fixes the problem without having to force the definition?

[2019-04-18 15:01] Sh1ken commented on #99
@olbrich Just tried it. It's working as intended. Thanks for the quick support!

[2019-04-18 18:36] #99 closed

[2019-04-20 13:33] olbrich commented on #36
@scicco what version of Devise and Mongoid are you using?

[2019-04-23 07:28] scicco commented on #36
Hello @olbrich, this is taken from my old Gemfile.lock (I didn't pull the latest changes)

[code]

[2019-04-24 11:30] shaicoleman commented on #99
Can you please push a new bugfix release?

[2019-04-24 12:39] oniofchaos opened #102 "Move off Travis CI?"
https://news.ycombinator.com/item?id=19218036

Based on this, it seems like a possible good long term move to get off the platform and use something more maintained. Thoughts @devise-security/maintainers ?

[2019-04-24 14:51] natebird commented on #102
I’m a fan of CircleCI but it is a pain to migrate.

[2019-04-25 21:18] olbrich commented on #99
@shaicoleman Yes.

[2019-04-26 18:56] olbrich commented on #99
@shaicoleman done

[2019-05-14 12:03] oehlschl opened #103 "uninitialized constant Devise::Models::Compatibility::ActiveRecord::..."
Just started experiencing a regression after updating from 0.13->0.14.1 and traced it back to the commit introducing Mongo support: #76

It looks like the new `Devise::Models::Compatibility::ActiveRecord` module now conflicts with `::ActiveRecord`. Specifically, accessing any descendent of `ActiveRecord::` within a model that includes devise-security now requires absolute pathing.

For example,

[

[2019-05-14 13:44] rmorlok commented on #62
Is there any way that something like this could make its way into the gem? I have a similar requirement where I have customers with sets of users that have differing IT policies on things like password complexity requirements, etc.

[2019-05-14 20:21] olbrich commented on #62
@rmorlok yes, I'll update #63 and see if we can get this working again.

[2019-05-20 21:16] #103 closed

[2019-05-22 02:55] jazzdragon opened #106 "undefined method `update_attribute_without_validatons_or_callbacks'"
Upgraded from 0.12.0 to 0.14.2 and started getting the error above.
Looks like it's coming from devise-security/models/session_limitable.rb:22

cheers!

[2019-05-22 02:58] jazzdragon commented on #106
Looks like it was introduced by 9fb28aa8947591fbfeecaa3e5d4b6edd4e336c0e

[2019-05-22 19:46] olbrich commented on #106
@jazzdragon are you setting `DEVISE_ORM` anywhere, and if so, what are you setting it to?

[2019-05-23 03:12] 6temes commented on #106
I have the same issue after upgrading from `0.14.1` to `0.14.2`

[2019-05-23 10:32] olbrich commented on #106
looks like if your model didn't also use `secure_validateable` or `password_archiveable` then the compatibility module that defines this method would not get loaded.

@jazzdragon @6temes try using the branch from #107 and see if it fixes your problem.

[2019-05-25 03:42] 6temes commented on #106
I can confirm that the branch from #107 fixes the issue.

Just for the record, the code that was triggering the issue in my project was that method in `ApplicationController`:

![image](https://user-images.githubusercontent.com/5655861/58364143-7c0a2f00-7eea-11e9-8a69-00631aa91136.png)

[2019-05-25 20:02] #106 closed

[2019-06-14 06:29] vivekapex opened #110 "Expire only password if inactive for X days."
I know that we can use **expirable** for expiring an account if it's been inactive for X number of days. Can we do the same for expiring the password only without expiring the account?
Thanks in advance.

[2019-06-14 07:50] vivekapex commented on #110
I guess I can make it work by
a) Enabling the **password_expirable on-demand option** and
b) Enabling the **expirable**.

Then we can override this [https://github.com/devise-security/devise-security/blob/master/lib/devise-security/models/expirable.rb#L108](url) in our resource model by calling this [https://github.com/devise-security/devise-security/blob/master/lib/devise-security/models/password

[2019-06-14 14:11] vivekapex commented on #110
Got it working.
You don't really need to use the **password_expirable**. Just use the **expirable** config and override the **delete_all_expired_for** method in your resource class with void code or whatever you wanna perform there.
Once that done just than override the **update** action of passwords controller to reset the **last_activity_at** column of the resource and that's it.
It's working li

[2019-07-17 12:57] #110 closed

[2019-07-17 12:58] oniofchaos commented on #90
Going to close due to inactivity. Feel free to comment with a dummy app to re-open.

[2019-07-17 12:58] #90 closed

[2019-07-17 12:58] #82 closed

[2019-07-19 12:25] D-system commented on #77
For people that needs I18n, use `18n.t('errors.messages.invalid')`

The complete code (from @francois-belle ):
[code]

[2019-08-13 16:26] daya opened #122 "Bug in password_archive_included? a false positive"
see https://github.com/devise-security/devise-security/blob/f68836f2e409a0f86f470918e16216af083f8b11/lib/devise-security/models/password_archivable.rb#L45

adding `encrypted_password_was` to the collection of old passwords results in a false positive return value for method `#password_archive_included?`

as a result newly entered password (not yet saved) is wrongly computed to be a previously used

[2019-08-13 17:14] daya commented on #122
Sorry. It turns out the the problem is in **Bcrypt::Engine** I have filed an issue for it https://github.com/codahale/bcrypt-ruby/issues/208

[2019-08-13 17:19] #122 closed

[2019-08-28 22:25] pepetorres1998 opened #129 "How to know :password_expirable and :password_archivable is working?"
Hi, so I have included the 'devise-security' gem to my project. I have enabled the :password_expirable and :password_archivable, and I will attach my configuration of devise-security.

![Screenshot from 2019-08-28 17-15-59](https://user-images.githubusercontent.com/36722374/63896409-8d664a00-c9b7-11e9-999c-2af550e9e90c.png)

My question is how can I test, or how can I be sure that it is working?

[2019-08-29 01:40] olbrich commented on #129
Assuming that your user model actually uses the correct modules, try calling `user.password_expiration_enabled?`.  Also, what version of active_support and/or rails are you using?

[2019-08-29 02:16] geermc4 opened #130 "secure_validatable doesn't check for deny_old_passwords"
Shouldn't [current_equal_password_validation](https://github.com/devise-security/devise-security/blob/master/lib/devise-security/models/secure_validatable.rb#L65) check for `config.deny_old_passwords`

[2019-08-29 19:06] pepetorres1998 commented on #129
![Screenshot from 2019-08-29 14-02-14](https://user-images.githubusercontent.com/36722374/63968785-0f14b100-ca66-11e9-95b5-a2c730367747.png)

ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux]
Rails 5.2.3

[2019-09-02 12:38] olbrich commented on #129
The tests that describe the behavior are in `test/test_password_expirable.rb`.  Password expirable compares the `password_changed_at` attribute on your User model to see if it's older than the allowable time.

`User#need_changed_password?` will also be true if the password is too old, or if the `password_changed_at` attribute is `nil`.

The whole thing won't work unless the feature is enabled, whi

[2019-09-02 17:57] pepetorres1998 commented on #129
Thank you, that test of password expirable has helped me a lot, I still have the doubt of how it works, we have a controller for our devise auth sessions, we have to manually handle what to do when the password is expired?, or by default the gem sends email or something else so the user can change the password? Thank you in advance!

[2019-09-02 18:10] pepetorres1998 commented on #129
I leave a code snippet of our auth sessions controller.

![Screenshot from 2019-09-02 13-09-30](https://user-images.githubusercontent.com/36722374/64129632-edc40580-cd82-11e9-87cb-9adeabf6a065.png)

[2019-09-25 15:34] upendra-datt-roostify opened #138 ":secure_validatable enforces email uniqueness.(is there a way to bypass it)"
I am trying to use: secure_validatable module in my system for password policy only but it also includes checks for email like email uniqueness. Is there any way we can bypass email uniqueness check here.

We explicitly did not want to use email uniqueness hence we did not use the devise validatable module. and devise-security gem checks if validatable is not used they start enforcing email_unique

[2019-09-25 18:34] oniofchaos commented on #138
https://github.com/devise-security/devise-security/blob/596696d2df4eada853ec72c32018449252aacad0/lib/devise-security/models/secure_validatable.rb#L44

The way I'm reading the code, the email validation check only occurs if `email_changed?` is true. You could try adding a method called `email_changed?` in your model that returns false, so that this never fires.

Alternatively, you could add a confi

[2019-09-25 18:38] oniofchaos commented on #130
`config.deny_old_passwords` is specifically for the `PasswordArchivable` module.

[2019-09-25 18:38] #130 closed

[2019-09-25 18:43] oniofchaos commented on #129
You can see here:
https://github.com/devise-security/devise-security/blob/5f06e98907aa93a2ebd190a82725b261bdf7f091/lib/devise-security/hooks/password_expirable.rb#L3

and here:
https://github.com/devise-security/devise-security/blob/5f06e98907aa93a2ebd190a82725b261bdf7f091/lib/devise-security/controllers/helpers.rb#L50

what happens when using Devise for everything and there's a password expiratio

[2019-09-25 18:47] oniofchaos commented on #129
In terms of testing this, I would use [this](https://api.rubyonrails.org/v5.2.3/classes/ActiveSupport/Testing/TimeHelpers.html#method-i-travel) API to create the user's password in the past
[code]

[2019-09-25 18:47] #129 closed

[2019-09-30 16:00] upendra-datt-roostify commented on #138
It worked! Thanks a lot @oniofchaos for the help! :)

[2019-09-30 16:00] #138 closed

[2019-10-08 14:26] Nghi93 opened #141 "PasswordArchivable with time period"
I would like to use PasswordArchivable with a date time range instead of a count.
e.g. I am not allowed to use my old passwords within last 3 months.
Is that something you would like to add to this repo?
I could create a PR.

Would you like to add it to PasswordArchivable or should I create a new model?

[2019-10-09 15:28] olbrich commented on #141
Seems like useful functionality and I do think it would fall into `PasswordArchiveable`'s responsibilities.

[2019-10-09 17:48] natebird commented on #141
I agree. We would be open to a PR for this.

[2019-10-17 23:17] seanfcarroll commented on #102
GitLab is free for open source.

[2019-10-28 02:24] MasterBroki opened #144 "Customize redirect route"
Hi,

Is there a way to customize the redirection for expired password or deactivate it?

If so, could we document it a bit? thanks

[2019-10-28 02:49] MasterBroki commented on #144
After some research in the source code, I need to override the redirect_for_password_change(scope) method in the base controller. Can we add this in the wiki so it helps someone else at some point?

[2019-12-04 12:21] fidalgo commented on #102
You have github actions as alternative.

[2020-01-06 21:24] AndrewJGregory commented on #62
Any updates on this?

[2020-02-11 14:03] jono-booth opened #168 "Changing password_archiving_count down removed the deny_old_password validation"
When changing the setting `password_archiving_count` from say 5 to 1, then the `password_archive_included?` doesn't pick up the older passwords for some reason. If I debug around here I see that it doesn't match up to the expected password and this method returns false.

https://github.com/devise-security/devise-security/blob/master/lib/devise-security/models/password_archivable.rb#L41

[2020-02-11 14:44] oniofchaos commented on #168
Are you able to create a test case that demonstrates the issue?

[2020-02-11 16:29] jono-booth commented on #168
Thanks for the speedy reply, I am not 100% sure that my title and description are the actual problem, but I am not sure what else to call this. I changed the password archiving count from 5 to 1 and it now allows me to reset my password to the same as my current password.

[code]

[code]

Because of the above change there are 5 passwords in the database but the limit is not 1.
If I pry on line 46

[2020-02-11 16:55] oniofchaos commented on #168
Your title is fine - also thank you for submitting an issue!

Without having dug into the code - my guess is that once you make the change back to only looking back to one password vs five, the old archived password you're running into is beyond the lookup range and so the validation passes.

If so, that makes sense to me. If the limit is one old password, I don't care what your password was five

[2020-02-11 19:12] jono-booth commented on #168
Looking at the method you linked to those records should not be in my database then. Maybe the problem lies elsewhere, it might not be archiving passwords on my environment for some reason. I am still looking into it, will get back to you. Thanks for the help!

[2020-02-13 13:13] jono-booth commented on #168
After some more investigation, it looks some parts of devise are being overridden by another gem we are using called Spree. It's highly likely that the issues lies elsewhere and not in this gem.

I cannot afford to spend anymore time on this issue, but maybe we can close this issue for now and I can start a new one with some more concrete examples when I revisit this.

[2020-02-13 15:47] #168 closed

[2020-02-25 20:30] oniofchaos commented on #59
Possibly related to https://github.com/devise-security/devise-security/pull/173

[2020-04-07 11:03] yairper opened #186 "Occasionally getting falsy "Password expired" msg"
Until now we were using `devise_security_extensions` 0.10.0
which had this issue and had been fixed with a fork.
see commit: https://github.com/OwnBackup/devise_security_extension/commit/3557f8fb01b0d2fee56c47fa6b0a1a32b74e876f#diff-319d340c1a338ea901c51a01e3cc5004

Now we've upgraded to latest `devise_security` and the same code causing us this issue is still there.
In order not to fork again, I'

[2020-04-07 13:15] natebird commented on #186
Can you create a failing test case and a PR fix for this issue?

[2020-04-07 14:05] yairper commented on #186
I can easily create a PR, not sure what is the use case, from our POV it was random.
reading the code at `lib/devise-security/controllers/helpers.rb::58`
not sure what makes it go into this `else`
could be that once upon a time it was indifferent hash so it worked?
WDYT?

[2020-04-07 14:37] natebird commented on #186
Yeah, it looks like line 51 uses `'password_expired'` and line 58 uses `:password_expired`. I've only taken a cursory look at the code but that stands out as odd. I think it warrants more investigation. That code has tons of `if` and `if not` statements which are also terrible for debugging and understanding use cases and impact.

[2020-04-18 05:52] fidalgo commented on #33
Given Devise supports reCapcha, would make sense to double it here?
https://github.com/heartcombo/devise/wiki/How-To:-Use-Recaptcha-with-Devise

[2020-04-18 13:54] natebird commented on #33
Maybe we support hCaptcha? https://blog.cloudflare.com/moving-from-recaptcha-to-hcaptcha/

[2020-04-20 19:27] bhushangahire opened #191 "Password complexity without redirect?"
How can I use password complexity functionality without redirection on the rails app?
I am using Angular and API base rails backend. When the password expires it redirects to rails URL.

[2020-04-23 00:57] olbrich commented on #191
If you want to use the password complexity validator, https://github.com/devise-security/devise-security/blob/master/lib/devise-security/validators/password_complexity_validator.rb

Tests for it are found in https://github.com/devise-security/devise-security/blob/master/test/test_complexity_validator.rb

Not sure I can provide much more help without understanding your application better.

[2020-04-26 19:33] olbrich opened #193 "Refactor password_expirable"
Password Expirable is due for a cleanup / refactor.

Known issues:
- [ ] instances of the resource are extended with `DatabaseAuthenticatablePatch` in the controller which means that the behavior of methods like `update_with_password` is different depending on if it's invoke from the controller or now. This is a bug risk.
- [ ] Formatting & style
- [ ] Documentation needs updating

[2020-05-16 15:16] olbrich opened #202 "Drop Rails 4.2 support"
Rails 4.2 is now EOL.  We will be dropping support for it in v0.16.0.

If you have concerns about this, please comment on this issue.

[2020-05-16 15:25] olbrich opened #203 "Refactor secure_validatable"

[2020-05-16 15:26] olbrich opened #204 "Refactor password_archivable"

[2020-05-16 15:27] olbrich opened #205 "Refactor password_archivable"

[2020-05-16 15:28] olbrich opened #206 "Refactor paranoid_verification"

[2020-05-16 15:29] olbrich opened #207 "Refactor security_questionable"

[2020-06-05 02:41] jstdoit commented on #77
it helps for me.

[2020-06-09 00:24] sunderwood commented on #77
In the case of valid_email2, it appears that the root of the problem is line 51 of  the SecureValidatable module [(here)](https://github.com/devise-security/devise-security/blob/master/lib/devise-security/models/secure_validatable.rb#L51). The ValidEmail2 documentation [(here)](https://github.com/micke/valid_email2#use-with-activemodel) describes the base use as `validates :email,  'valid_email_2/

[2020-06-14 16:37] #186 closed

[2020-07-29 23:47] tmr08c commented on #205
It looks like this may be a duplicate of #204. Is it possible one of these should have been for `password_expirable`?

[2020-07-30 11:55] olbrich commented on #205
Yes, this is a duplicate

[2020-07-30 11:55] #205 closed

[2020-08-19 18:02] rmccown opened #226 "Is skip_session_limitable? implemented/overridable?"
Howdy
We want to implement session_limitable, and turn it off for a subset of our users.  The code in session_limitable.rb hints that you can override skip_session_limitable?, but so far we havent been able to get it to work, and the Google oracle doesnt provide any insight.  We have been able to override update_unique_session_id! with our own code, so we think we're on the right track.

Is skip_s

[2020-08-19 23:38] tmr08c commented on #226
Hi @rmccown!

It looks like the functionality to override `skip_session_limitable?` was added in [this PR](https://github.com/devise-security/devise-security/pull/74), but hasn't been added to a release yet.

@olbrich has it tagged in the [0.15.0 milestone](https://github.com/devise-security/devise-security/milestone/4) which is the next planned release. I don't think there is an expected release

[2020-08-20 15:46] rmccown commented on #226
Thanks @tmr08c, bundling with the master branch did the trick.

[2020-08-24 23:57] tmr08c commented on #226
Excellent to hear, @rmccown! 🎉

I'm going to go ahead and close the issue. Please feel free to reach out if you run into any other issues.

[2020-08-24 23:57] #226 closed

[2020-08-25 00:51] markblasdls commented on #144
@MasterBroki Hi, can you share how did you solve it with redirect_for_password_change? I'm currently having problem with redirect and can't override it. Thankyou in advance.

[2020-08-25 11:43] MasterBroki commented on #144
@markblasdls  overriding it didn't work?

[2020-08-25 11:48] markblasdls commented on #144
@MasterBroki yeah it didn't work for me but was able to find other way by modifying store_location_for(scope) and it solve my problem.. btw thankyou for your response.

[2020-08-25 12:45] MasterBroki commented on #144
Maybe you're on a different version. Anyway, this needs more doc

[2020-09-08 16:32] 3dprintscanner commented on #33
Has this been solved? The library works as-is using the [recaptcha ruby gem](https://github.com/ambethia/recaptcha)

[2020-09-10 02:07] oniofchaos commented on #33
https://github.com/devise-security/devise-security/blob/master/devise-security.gemspec#L41 we still currently use `easy_captcha` for development testing. Happy to look at a PR that updates this.

[2020-10-04 16:06] tmr08c opened #232 "🎃 Hacktoberfest 2020"
Happy [Hacktoberfest](https://hacktoberfest.digitalocean.com/) everyone!

# What to work on

While we have a [few Issues](https://github.com/devise-security/devise-security/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest) that are leveraging the `Hacktoberfest` label, these are not the only way you can help contribute.

You can also consider:

* Adding or improving our [translations](https://g

[2020-10-04 17:16] dingyifei commented on #232
Hi, can I work on the `zh-CN` translation?

[2020-10-04 18:30] tmr08c commented on #232
@dingyifei, yeah, that'd be great!

[2020-10-04 23:06] dingyifei commented on #232
#235 Done!

[2020-10-05 15:46] oniofchaos commented on #232
Looks like @dingyifei is correct.

https://hacktoberfest.digitalocean.com/hacktoberfest-update

[code]

[2020-10-05 20:05] mhi20 commented on #232
Hi,
Can I add a `fa` locale?

[2020-10-05 22:17] tmr08c commented on #232
Thanks for adding the topic, @oniofchaos!

@mhi20, definitely!

[2020-10-06 08:13] DevS1993 opened #238 "Rubocop warning on initializer file name"
So i recently added this extension to simplify my password validation flow and i noticed this error from Rubucop.

![devise_security_rubocop](https://user-images.githubusercontent.com/21246070/95175297-ea4a4b80-07d8-11eb-816d-da196f369159.png)

Other initializers (like devise_token_auth.rb / filter_parameter_logging.rb) follow snake_case file naming convention.

is the file name `devise-security.r

[2020-10-06 20:44] olbrich commented on #238
I'm pretty sure that rails will load it just fine if you rename the file. Let us know if you have trouble. I would also welcome a PR to make the name more consistent with rubocop.

[2020-10-07 04:06] DevS1993 commented on #238
Yes @olbrich rails loads it even after changing the file name follow snake_case. No troubles. I'll work on a PR to change the default behavior.

[2020-10-07 09:45] kaysiz commented on #207
@tmr08c May you please add a description to issue.

[2020-10-08 10:28] tmr08c commented on #207
@kaysiz sorry for the lack of description! Looking at the `SecurtiyQuestionable` module, it actually [looks basically empty](https://github.com/devise-security/devise-security/blob/3e53dd66511feb5fcddb77c706179a81143eef79/lib/devise-security/models/security_questionable.rb#L3-L19), so I'm not sure if we need to do any refactoring. I will update the other refactoring issues with some additional det

[2020-10-08 10:28] #207 closed

[2020-10-08 10:44] tmr08c commented on #238
@DevS1993 I've assigned the Issue to you. Let me know if you would like me to unassign it.

🤔  In the short-term, you may be able to rename the file to `devise_security.rb` in your application. I think the important part is that it will still run `Devise.setup` and let you configure anything you need. The actual file name _shouldn't_ matter.

[2020-10-10 19:53] DevS1993 opened #246 "Link broken/down"
The external article under the section : **Email validation using the Ruby constant** is broken. I have tried it on numerous days at different times, same result.

![devise_security_email_validation](https://user-images.githubusercontent.com/21246070/95663839-08f56d00-0b60-11eb-9d60-2a4a56bafb5c.png)

Should the link be replaced with another link? (it may go down in the future)

Or should a snippe

[2020-10-11 01:25] oniofchaos commented on #246
Yeah let's do that.

[2020-10-21 12:27] prasannaboga opened #251 "invalid_security_question is missing in devise.security_extension.de.yml"
`invalid_security_question` key is missing in devise.security_extension.de.yml(https://github.com/devise-security/devise-security/blob/master/config/locales/de.yml#L19)

Please add this missing value.

[2020-10-29 19:04] #102 closed

[2020-10-30 21:50] oniofchaos commented on #191
Closing this issue since it's old. If you have more details for us to help answer your question, please comment and re-open.

[2020-10-30 21:50] #191 closed

[2020-11-04 10:39] tmr08c commented on #232
I hope everyone had a successful Hacktoberfest. A big thank you to everyone that opened up PRs in our project this year!

[2020-11-04 10:39] #232 closed

[2021-01-01 01:25] #246 closed

[2021-01-11 14:36] plug21 commented on #77
I know this is a late arrival. I had an issue with email validator when setting up devise_security. If you aren't too bothered about email validation.

This is all I did.

in user.rb
[code]

in devise-security.rb

uncomment and change from true to false

[code]

[2021-01-13 22:56] oniofchaos opened #267 "Investigate updating devise past 4.7.3 once it's released"
This version has a soft-lock of using 1.x.

From https://github.com/devise-security/devise-security/runs/1698408739?check_suite_focus=true

Devise issue where this is being discussed: https://github.com/heartcombo/devise/issues/5326

[2021-02-09 23:18] oniofchaos opened #276 "Fix DatabaseCleaner 2.0 with Mongo"
https://github.com/DatabaseCleaner/database_cleaner#list-of-adapters

https://github.com/devise-security/devise-security/runs/1867165506?check_suite_focus=true

[2021-02-11 00:46] natebird commented on #267
The latest update in the thread above says Devise with support for omniauth 2.0.0+ will be sometime in February.

[2021-02-22 11:37] MaKalvik opened #281 "Spaces not counted as a symbol/puntuation mark in password_complexity"
It's as the title suggests. I'm wondering if this is expected behaviour or am I missing something?

Is there some specific reason as to why spaces could not be counted as symbols?

The validation works fine if there is another symbol in the password in addition to the space, but not when it's just a space.

Is there a way to override it?

[2021-02-22 20:56] manhhung741 opened #282 "Issue with secure_validatable on existing record"
`secure_validatable` adds a [presence check to the "password" field](https://github.com/devise-security/devise-security/blob/e6e20a77688be4c26f8df44227f4ff9529bbc9b1/lib/devise-security/models/secure_validatable.rb#L47). Devise does not store passwords on the model, so when you try to save an existing record, it'll _always_ fail this check.

This check can be disabled by implementing a method "pas

[2021-02-22 21:33] manhhung741 commented on #282
My bad. The given "password_required?" [already handle](https://github.com/devise-security/devise-security/blob/e6e20a77688be4c26f8df44227f4ff9529bbc9b1/lib/devise-security/models/secure_validatable.rb#L78) it.

[2021-02-22 21:33] #282 closed

[2021-03-02 00:01] oniofchaos commented on #281
This sounds like a bug to me. I welcome a PR to address it.

[2021-03-02 00:08] oniofchaos commented on #281
Thinking about this a little more: implementing this may be difficult because spaces at the beginning/end of a password are often considered user error from copy/paste issues and stripped out. I would only want to allow it if it was in the middle of a password.

Examples:
- "good password" => valid
- "goodpassword " => not valid

[2021-03-18 09:47] dredupuika opened #290 ":secure_validatable doesn't set @minimum_password_length"
devise :validatable does this
[code]

[2021-03-18 13:48] oniofchaos commented on #290
Hi @dredupuika. I'm not sure what your issue is about. Is it a bug report, a feature request, or something else?

[2021-03-18 14:04] dredupuika commented on #290
Obviously a bug.
Since :secure_validatable is a replacement for the original :validatable it should not brake any functionality.
In this case it makes the original forms in devise less user friendly. As a result 2 devise controllers must be overriden to fix this.

It should at least be mentioned in the readme.

[2021-03-18 15:23] oniofchaos commented on #290
Can you share with me what controllers / methods you override in order to fix this?

[2021-03-18 16:03] dredupuika commented on #290
I haven't finished and tested it thoroughly. And I consider it a temporary fix.
But since devise uses [set_minimum_password_length](https://github.com/heartcombo/devise/search?q=set_minimum_password_length) in 2 controllers. So I made custom controllers for **registrations** and **passwords** with this method:
[code]

however i do think that this problem should be addressed by overriding the devis

[2021-03-18 19:41] oniofchaos commented on #290
Ok great! I have some ideas on how to address this. I'll post back once I've been able to explore it.

[2021-03-19 09:41] oniofchaos commented on #290
Can you test with https://github.com/oniofchaos/devise-security/tree/validatable and see if it solves the problem? You shouldn't need any controller overrides anymore on either controller.

[2021-03-19 12:10] dredupuika commented on #290
Yeah. Works as expected.

I will be keeping those controllers for now since they expose the complexity requirements to the form in the same manner as devise does.
But that's probably feature for the future.

Thanks.

[2021-03-19 18:56] oniofchaos commented on #290
Can you elaborate on how you're using the exposed complexity requirements? I'd be happy to add those too.

[2021-03-19 19:46] dredupuika commented on #290
After this fix.
In the controller:
[code]

In the form: (I use the bootstrap versions)
[code]

Translations:
[code]

[2021-03-19 21:19] oniofchaos commented on #290
Ok, can you try one more time? :)

The controller should set `@minimum_password_complexity` for you now.

[2021-03-20 09:15] dredupuika commented on #290
Seems it reverted to not setting @minimum_password_length or @minimum_password_complexity.
How is set_secure_validatable_information invoked?
Do i have to do it manualy?

i would keep it as
[code]
as it was since devise calls set_minimum_password_length, but i don't see any reference to set_secure_validatable_information.

[2021-03-20 12:44] dredupuika commented on #290
On second thought. the original set_minimum_password_length should be overriden with something that calls super in case devise changes this method in the future. e.g.
[code]

[2021-03-20 16:37] oniofchaos commented on #290
Ok, try again, I think I fixed it. I added a `before_action` to call the new method.

The reason I changed the naming was that I didn't want to override `set_minimum_password_length` for the exact reason you listed: in case devise changes the method. The (weird) way that we're patching right now actually appears to override the method, so calling `super` wouldn't do anything.

[2021-03-20 17:14] dredupuika commented on #290
[code]
then wouldn't this make more sense?

Not fond of prepending this to all actions.

[2021-03-23 13:19] oniofchaos commented on #290
Wow! I didn't even think of using alias. That's brilliant. Thanks so much for the suggestion. That definitely makes more sense than prepending to all actions. 🤦

I pushed up an update that uses that strategy. If that works, I'm going to move this to a pull request.

[2021-03-23 17:27] dredupuika commented on #290
works nice!

I think all that is left is a mention in the readme about the way the forms need to be updated.
e.g.
[code]
and the translations are the exact ones as the ones for error mesages.
might even use a YAML anchor.

[2021-03-23 17:29] oniofchaos commented on #290
Not sure what you mean by this

[2021-03-23 18:32] dredupuika commented on #290
this should copy all the content errors.messages.password_complexity to devise.password_complexity
[code]

[2021-03-26 03:45] oniofchaos opened #292 "Fix test suite to work with ruby-head"

[2021-03-26 03:53] oniofchaos opened #293 "Figure out an easy way to run the test suite locally for all combos of ORM, Ruby, and Rails"
Probably using commands involved with the `appraisal` gem that we already use https://github.com/thoughtbot/appraisal

[2021-03-26 06:06] oniofchaos opened #295 "Create a generator for devise-security migrations"
You can do the following in `devise`

https://github.com/heartcombo/devise#getting-started

[code]

It would be great to have something like the below for each of the `devise-security` [modules](https://github.com/devise-security/devise-security#schema).
[code]

[2021-03-26 10:28] dsounded opened #297 "New release"
Hi, guys. Thanks for the great job!

I'd like to know the new release date. Since this change https://github.com/devise-security/devise-security/commit/e280f147dcd43a70e3fecbe8e12c09911fd17539#diff-80cfb2fb1849d9a2fd2fbad3821ff00c7d0d22e3ea1a095f9d9acf59c1ef2db8

is really important for `Ruby 3.0`

[2021-03-26 14:41] oniofchaos commented on #297
I'll take a look and see if things are ready. There were some changes I wanted to get into the next release but they possibly can wait so that this fix goes out.

[2021-03-30 21:42] dillonwelch opened #301 "How to properly update copyright notice?"
https://github.com/devise-security/devise-security#copyright

We've forked from the project that the individual was maintaining. Do we remove the name? Do we just keep the year updated. Honestly not sure.

cc: @devise-security/maintainers

[2021-03-30 22:00] oniofchaos commented on #297
Once we get https://github.com/devise-security/devise-security/pull/291 and https://github.com/devise-security/devise-security/pull/300 in we should be able to do a release.

[2021-04-26 08:53] StefanRitchie commented on #297
Seconding the OP - thanks for the great work, but also my app requires `Ruby 3.0`, and so also requires this new release.

Many thanks

[2021-04-27 12:42] #238 closed

[2021-05-02 20:08] #202 closed

[2021-05-03 23:57] oniofchaos commented on #297
v0.16.0 is out.

[2021-05-03 23:57] #297 closed

[2021-05-04 00:42] oniofchaos opened #311 "Audit what gems of Rails we depend on and add them as dependencies"
With https://github.com/devise-security/devise-security/releases/tag/v0.16.0, we have removed support for Rails 4.2. However, we do not have any direct dependencies on Rails or any of its gems. We get a dependency on `railties` thanks to `devise`, but for the version we are on are very permissive and allow 4.1+. This would technically allow someone on Rails 4.2 to update to 0.16.0 and have a gem t

[2021-05-04 01:11] #292 closed

[2021-05-04 01:19] olbrich commented on #267
Devise released 4.8.0 a few days ago.

[2021-05-04 01:24] olbrich commented on #311
Well, `activerecord` for sure, and probably `activesupport`.

[2021-05-04 01:26] olbrich commented on #293
I've tried using https://github.com/nektos/act with not a whole lot of luck. It doesn't seem to play well with build matrices.

[2021-07-15 15:37] TalonGrayson opened #322 "Password length/complexity/etc errors returned when password is blank"
If my user tries to submit the sign up form without a password present, the following errors are returned (obviously the exact messages are dependant on config):

[code]

I concede that the errors are all accurate and relevant, but to me it feels like the first error negates the need to display the subsequent errors. I also concede that not everyone will want the subsequent errors filtered by the

[2021-07-18 17:36] oniofchaos commented on #322
Sadly there is no way to configure it right now. I do agree that it's a lot of errors when just the first would be fine.

Can you make the field required for form submission on your HTML or JS?

[2021-07-21 15:10] fabriciofreitag opened #324 "Forgot expired password"
Is there an easy way of bypassing the redirect to the expired password page and allow the user to user Devise's "forgot password" flow?
I've tried to skip authentication in `PasswordsController` but no matter what I keep getting redirected to the expired password page.

[2021-07-21 19:49] fabriciofreitag commented on #324
my bad, all I had to do was to link a session destroy in the password expired show page.

[2021-07-21 19:49] #324 closed

[2021-08-10 09:27] khan-arkhitech-2020 commented on #62
Hey guyz whats the status for this task

[2021-08-10 09:49] TalonGrayson commented on #322
Apologies for the late reply.

Requiring the field in HTML is what I've ended up doing, which works but is very browser dependant and a little front-end heavy to be really robust. It feels like a workaround rather than a solution, but it's better than it was... the backend checks will still get hit in prod if frontend fails to catch any validation issues, so there's that :)

[2021-08-23 21:18] WilfredRuck commented on #62
Hey, I could also make use of this. Any updates or in between solutions available?

[2021-10-11 01:10] oniofchaos opened #329 "Fix test suite / mongoid gem so we can run tests on newer versions of Rails and Ruby"
https://jira.mongodb.org/browse/MONGOID-4974 noted as "required" here.

Supposed to be fixed in https://github.com/mongodb/mongoid/releases/tag/v7.3.1.

[2021-10-11 01:10] dillonwelch opened #330 "Add test combination for Rails head"

[2021-10-11 03:39] #329 closed

[2021-10-11 08:29] #251 closed

[2021-10-11 08:32] #311 closed

[2021-10-11 08:40] #267 closed

[2021-10-11 08:45] dillonwelch opened #335 "Use Brakeman workflow from Github Actions instead of through CodeClimate"
https://github.com/devise-security/devise-security/security/code-scanning use the one directly from here

https://github.com/marketplace/actions/brakeman-linter seems like the most used one.

https://github.com/marketplace/actions/brakeman-action and https://github.com/marketplace/actions/code-review-using-brakeman are other options.

[2021-10-11 08:53] dillonwelch opened #336 "Use Rubocop action from Rails instead of using CodeClimate"
https://github.com/rails/rails/blob/main/.github/workflows/rubocop.yml

https://github.com/marketplace/actions/run-rubocop-with-reviewdog is another option

https://github.com/devise-security/devise-security/security/code-scanning there is an option listed here

This should also update the Rubocop config to account for the cops we want to keep from CodeClimate

[2021-10-11 09:20] oniofchaos commented on #293
Tried out that tool and I had the same issue with the build matrices. The output was also super verbose. I think the best bet is going to be for users to push their code to their own forked repos and check out the build results there.

[2021-10-11 09:20] #293 closed

[2021-10-14 19:20] natebird commented on #301
I'm not 100% sure what to do either but this StackOverflow post helps a little bit. It is about the GPL but MIT is even more lenient.

https://stackoverflow.com/questions/4475319/how-to-rebrand-copyright-a-forked-project-gnu-gpl

From the post, I would recommend adding a copyright notice above the original author's copyright. So in essence it would look like this:

[code]

And update the LICENSE.t

[2021-10-22 14:55] dillonwelch opened #339 "Figure out how email validation works and document it"
This is an area where we differ somewhat in implementation compared to `Devise::Validatable`. Devise expects an `email_regexp` value (which makes it clear that it should be set to a regular expression) but we expect an `email_validation` value (which is confusing to what it wants and is set to true in the config).

See https://github.com/heartcombo/devise/blob/8593801130f2df94a50863b5db535c272b00e

[2021-10-29 00:08] dillonwelch opened #344 "Use cleaner syntax to exclude certain builds for Github Actions"
Right now, we have an unwieldy if statement on each action in the job if we don't want to run that combo (for example, Rails 5.2 and Ruby 3). It looks like there is an `exclude` param that can be added for this in a much cleaner fashion.

https://github.community/t/how-to-conditionally-include-exclude-items-in-matrix-eg-based-on-branch/16853/6

https://stackoverflow.com/questions/65384420/how-to-m

[2021-11-16 03:54] dillonwelch opened #346 "Run tests for ruby-head nightly instead of on pull requests"
If ruby-head is failing the build, it should not stop a PR from being merged. Instead, we should get a notification from a nightly build and/or a build after merging into master. We should additionally see the build result on PRs but a failure should not stop the build from merging.

[2021-11-16 04:26] dillonwelch opened #347 "Fix ruby-head and mongoid build"
Appears to be broken. Not sure if it's a ruby or a mongoid issue.

See https://github.com/devise-security/devise-security/runs/4220285439?check_suite_focus=true

[2021-11-16 04:33] #344 closed

[2021-11-16 04:44] #322 closed

[2021-11-19 23:13] dillonwelch opened #349 "allow_passwords_equal_to_email config greatly slows down User validation"
See https://github.com/devise-security/devise-security/pull/277#issuecomment-973099879

[2021-11-19 23:16] dillonwelch commented on #349
@tiagotex I was able to reproduce the slowdown you noticed. It looks like it is related to the strategy used of creating a duplicated User model and setting the password on it, an operation that takes some time. I'm looking into how we can do this validation without going through that process.

[2021-11-19 23:45] dillonwelch commented on #349
@tiagotex I do see significant improvement in the test suite when I use an alternative method of validating the password (from 92s to 56s).

Can you try out this branch and see if it fixes the issue for you? https://github.com/dillonwelch/devise-security/tree/fix-user-perf

[2021-11-22 23:37] tiagotex commented on #349
Hi @dillonwelch

Thank you so much for taking the time to address this 💚

I will test it tomorrow and will share the results here.

[2021-11-29 10:13] kossy0701 opened #350 "updated_at is not update when execute update_unique_session_id!"
## Summary

Thanks you make amazing Gem. and all contributers.

When I logged in using the session_limitable module, I noticed that the value in the updated_at column was not updated.

If the timestamp feature is not off, updating the record should also update the value of updated_at.

I think need to update 「updated_at」 when execute update_unique_session_id!.

[2021-11-29 14:34] dillonwelch commented on #350
Thanks for the bug report. I agree that this would make sense.

It looks like the change would need to be made to this method: https://github.com/devise-security/devise-security/search?q=update_attribute_without_validatons_or_callbacks

[2021-12-01 12:43] tiagotex commented on #349
@dillonwelch Can confirm this fixes the perfomance regression 🙌

[2021-12-01 21:02] dillonwelch commented on #349
Great, will work in polishing off when I can.

[2021-12-19 00:38] toomanyjoes opened #351 "Rails server won't start using secure_validatable because login_attribute is nil"
I'm trying to use secure_validatable for the strong password functionality but as soon as I add it to my user model my Rails server will no longer start. I've traced the problem down to this code but can't get much further. I'm not sure where login_attribute is even coming from.

Here is the error I get when firing up the Rails server:
[code]

It is trying to perform a uniqueness check with a uniq

[2021-12-19 02:03] dillonwelch commented on #351
I wasn't able to reproduce locally through our test suite.

Can you post (as much as you can) your `User` model and your devise configs? This code is pretty old and predates my time maintaining the library so I'm not super familiar with it.

[2021-12-19 03:15] toomanyjoes commented on #351
Sure, this is my user model currently. When I was playing around with `:secure_validatable` I changed `:validatable` to `:secure_validatable` and commented out the `validates :email` validations. As a matter of fact I can comment out every single validation in the user model and I still get the error mentioned above.

[code]

My devise settings are pretty simple, here is how they are currently set

[2021-12-19 05:28] dillonwelch commented on #351
Thanks for sharing. I'll dig into it!

[2021-12-19 15:18] olbrich opened #352 "Add Support for Rails 7"
Add support for Rails 7.0 and Ruby 3.1.

Note: It appears that v0.16.0 will work fine with Rails 7 so long as you are using the appropriate version of heartcombo/devise. This PR just adds Rails 7 and Ruby 3.1 to the build matrix so we can run tests for those versions.

- [x] Update ruby version
- [x] Update dependencies
- [x] Add Rails 7 to build matrix
- [x] Add Ruby 3.1 to build matrix

[2021-12-19 19:10] olbrich commented on #351
@toomanyjoes
I haven't been able to reproduce either, but take a look at your Devise configs.  I think the `authentication_keys` config is supposed to be an Array of symbols and not a Hash.

[2021-12-20 00:27] toomanyjoes commented on #351
@olbrich is that the way devise-security works? Because devise allows a hash, I deleted all the comments in the config but if I hadn't you would have seen this

[code]

Are you saying devise-security does not work the same way?

[2021-12-20 01:31] olbrich commented on #351
@toomanyjoes It seems not. The `login_attribute` method (see https://github.com/olbrich/devise-security/blob/4f146efe9911debc05f9ce5c99e08f15ab2af61e/lib/devise-security/models/secure_validatable.rb#L114) is definitely indexing into an array and will return `nil` if you give it a hash.  It may be that devise added support for a hash at some point and `devise_security` didn't get updated for that.

[2021-12-20 04:21] toomanyjoes commented on #351
@olbrich you may have cracked it! Unfortunately that just means I won't be able to use secure_validatable because the hash is not optional for my application 😞

[2021-12-20 09:34] dillonwelch commented on #351
Re-opened it because I think this is a bug that can probably be fixed or worked around in some fashion. Will have to do some research into how the main `devise` gem handles this. I'm pretty sure this code was copy-pasted from there ages ago and never refreshed - very much related to https://github.com/devise-security/devise-security/issues/339.

[2021-12-20 14:20] olbrich commented on #351
@dillonwelch Yeah, this shouldn't be too difficult to fix.

@toomanyjoes you can probably monkey patch the `login_attribute` method in your model to do something like
[code]

Just be aware that this is not a general solution.

[2021-12-20 21:31] dillonwelch opened #355 "Add test to ensure that all translation files have all relevant keys"
If a translation file (`de.yml` for example) is missing a key that `en.yml` has, the test suite should fail and let you know what files need to be updated along with a suggested way to add the translation (probably Google Translate)

[2021-12-21 01:12] dillonwelch opened #357 "Make configs in other modules dynamic"
Follow up to https://github.com/devise-security/devise-security/issues/62

expirable
- [ ] delete_expired_after
- [ ] expire_after

password_archivable
- [ ] deny_old_passwords
- [ ] password_archiving_count

paranoid_verification
- [ ] paranoid_code_regenerate_after_attempt
- [ ] verification_code_generator

password_expirable
- [ ] expire_password_after

[2021-12-21 22:34] dillonwelch opened #359 "Add configuration to require any changes to email to also require a password change"

[2021-12-21 22:56] #349 closed

[2021-12-21 23:01] dillonwelch opened #360 "Allow custom password complexity logic"
See https://github.com/devise-security/devise-security/pull/270

Instead of adding all kinds of combinations or custom logic within our validator, we should allow users to write their own custom validators that either replace or extend ours.

[2021-12-27 13:19] olbrich commented on #281
(NIST)[https://pages.nist.gov/800-63-3/sp800-63b.html] no longer recommends password complexity rules, and they also specifically mention spaces a few times.

Given that spaces don't really add a lot of complexity to passwords, I would not recommend lumping them into the same category as symbols.

As for overriding the existing behavior, you can modify the symbol regex in the `DeviseSecurity::Pass

[2021-12-27 13:19] #281 closed

[2021-12-27 17:55] #144 closed

[2021-12-29 17:23] dillonwelch commented on #62
This will be released in `0.17.0` shortly.

[2021-12-29 17:23] #62 closed

[2021-12-29 17:24] dillonwelch commented on #360
Completed via https://github.com/devise-security/devise-security/pull/356

[2021-12-29 17:24] #360 closed

[2021-12-29 17:27] olbrich commented on #359
Requiring a password change when changing an email might be a bit much, but needing to know the current password before changing the email could be useful.

[2021-12-29 17:28] dillonwelch commented on #359
Yup, that's what I meant to say. Totally messed up the title :)

[2021-12-29 18:21] dillonwelch commented on #290
Re-opening the issue since I never actually merged the linked PR.

[2021-12-29 19:02] JHirte opened #370 "undefined method `devise_modules' for #<Lead:0x000000000c9ccfc8>"
After updating devise-security from 0.14.3 to 0.16.0 we encountered failing tests in our application. I'm not sure what's happening here. The error occurs deep inside the Rails-Stack. Some debugging led me to this commit: https://github.com/devise-security/devise-security/commit/37b720179fc64a25ef308baa9e3badc6bf6e5400

[2021-12-29 19:06] dillonwelch commented on #370
That method comes from the base `devise` gem - https://github.com/heartcombo/devise/blob/8593801130f2df94a50863b5db535c272b00efe1/lib/devise/models/authenticatable.rb#L69

What devise moduels are you using in your `Lead` model?

[2021-12-29 21:17] JHirte commented on #370
Lead doesn't use devise at all. From two other models we get:

:database_authenticatable, :registerable, :confirmable, :recoverable, :rememberable, :lockable, :trackable, :validatable, :omniauthable, omniauth_providers: [:facebook]

and

:database_authenticatable, :recoverable, :trackable, :validatable, :lockable, :password_expirable, :password_archivable, session_limitable, :admin_timeoutable

ad

[2021-12-29 21:26] JHirte commented on #370
Without :session_limitable, the test case works again

[2021-12-30 01:17] dillonwelch commented on #370
In the immediate term, can you try defining a method like this on your `Lead` model?

[code]

I think our code should be updated to handle this scenario more gracefully though.

[2021-12-30 20:54] JHirte commented on #370
Thanks, this works here

[2022-01-03 19:27] djdavis1420 commented on #351
I'm not entirely sure if this is related, but I think `login_attribute` also causes an issue when following the [Wiki article from `devise`](https://github.com/heartcombo/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address) on how to allow a user to login with email or username. I've defined `login_changed?` on my model as `email_changed? || username_changed?` but I th

[2022-01-04 15:18] dillonwelch commented on #351
@djdavis1420 unfortunately with the current state of `secure_validatable` I don't think you'll be able to follow that article and still use the module. Since you're writing a lot of custom code anyway, you can look at the module to pick and choose what validations you want to keep from the module and copy/paste them into your class.

The original creators of this gem used `authentication_keys` to

[2022-01-18 11:21] amcvitty commented on #339
Hi - I came across this issue while trying to switch email validation from rails_email_validator to valid_email2.

Regarding "examples on how to integrate the gems.", I discovered that valid_email2 no longer includes an EmailValidator class, so I was getting this error in my test results

[code]

They say they [removed the class because of namespace clashing](https://github.com/micke/valid_email2/

[2022-01-19 13:27] kivanio opened #375 "session_limitable with ActionCable"
Hi,

I have a very common usage of action cable connection:
[code]

I setup some devise-security modules and specially session_limitable seems missing something.
It does not reuse current session and keep giving errors about session id mismatch:

Logs:
https://gist.github.com/kivanio/2d12a539558ae283bd689438d5c240e1

I have tried somethings, but it does not really works:
[code]

Is there a way to

[2022-02-19 00:55] DalenW opened #377 "Possible issue installing in Docker with Ruby 3.1"
I don't even know if it's devise-securities fault, but bear with me here.

With Ruby 3.1, (and 3.1.1, I tested again today), devise-security takes 10 minutes to install in a docker container running ruby 3.1 on Ubuntu. I have no idea why. I can downgrade to ruby 3.0.3 with most of the same gems and it'll install fine. But on ruby 3.1 it'll just get stuck. My CPU usage stays pretty high, so it's do

[2022-02-26 19:20] #377 closed

[2022-03-28 14:54] chivoX opened #378 "Jruby support"
Does this gem support Jruby?

[2022-03-30 20:08] dillonwelch commented on #378
Not at the moment. I'm potentially open to it depending on the degree of changes.

[2022-03-30 20:09] dillonwelch commented on #375
If you're referring to https://github.com/devise-security/devise-security/pull/79#discussion_r626276986, yeah it looks like we'd need to add this back in.

[2022-04-05 13:17] LE-HU commented on #290
FYI scared bcoz of this issue I've just tested :secure_validatable at my user model and it seems to check password_length.
I still have devise.rb `config.password_length = 8..128` set up in the initializers tho.

[2022-06-21 14:14] #301 closed

[2022-07-19 19:45] #355 closed

[2022-11-16 23:17] dillonwelch opened #405 "Use main instead of master"